.main {
  margin-top: 200px !important;
  margin-bottom: 200px !important;
}

.head-title{
  margin-bottom: 50px;
}

@media only screen and (max-width: 960px) {
  .location {
    margin-top: 70px;
  }
}