.services {
    margin: 0px 20px 0px 20px
}
.titulli {
    margin: 10px;
    padding: 10px;
    position: relative;
}
.sherbimet ul{
    margin: 10px 0px;
    padding: 10px 0px 0px 0px;
}
.v-card:hover .v-card:hover {
    box-shadow: 0 5px 15px antiquewhite;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
